/* Add application styles & imports to this file! */
body,
html {
  margin: 0px;
  padding: 0px;
}

.seat {
  position: absolute;
}

.container {
  overflow: scroll;
  width: max-content;
  display: flex;
}

.content {
  width: max-content;
  z-index: -1;
}

.person-dragging {
  border: 2px solid green;
}